<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.hanbatang.mapper.BoardMapper">
	<select id="getAllPostNotLogin" resultType="com.hanbatang.dto.Board" >
		SELECT * FROM board WHERE board_public = 'Y' ORDER BY board_no DESC
	</select>

	<select id="getAllPost" resultType="com.hanbatang.dto.Board" parameterType="com.hanbatang.dto.Members">
		SELECT * FROM board WHERE board_public = 'Y' OR member_no = #{member_no} ORDER BY board_no DESC
	</select>
	
	<insert id="uploadPost" parameterType="com.hanbatang.dto.Board">
		INSERT INTO board (board_no, member_no, member_name, member_nickname, board_title, board_text, board_public)
		VALUES (board_seq.NEXTVAL, #{member_no}, #{member_name}, #{member_nickname}, #{board_title}, #{board_text}, #{board_public})
	</insert>
	
	<select id="getBoardById" parameterType="int" resultType="com.hanbatang.dto.Board">
		SELECT * FROM board
		WHERE board_no = #{board_no}
	</select>
</mapper> 