<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanbatang.mapper.ProductPageMapper">
	<!-- 메인페이지 -->

	<!-- 상품상세 페이지 -->
	<select id="getGoodsByKind"
		resultType="com.hanbatang.dto.ProductPage" parameterType="int">
		SELECT
		goods_kinds, goods_name, goods_price, img_path, goods_text, price_avg, origin
		FROM goods 
		WHERE goods_no = #{goods_no}
	</select>

	<!-- main choice select beef -->
	<select id="getProductsByTab"
		resultType="com.hanbatang.dto.ProductPage" parameterType="String">
		SELECT * FROM goods
		WHERE goods_kinds = #{goods_kinds} <!-- #{goods_kinds} -->
	</select>
</mapper>